deepdiff==8.6.1
geojson==3.2.0
lxml==6.0.1
networkx==3.5
numpy==2.3.3
orderly-set==5.5.0
packaging==25.0
pandapower==3.1.2
pandas==2.3.2
pymodbus==3.11.2
python-dateutil==2.9.0.post0
requests==2.31.0
pytz==2025.2
scipy==1.16.2
six==1.17.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
